@font-face {
    font-family: Arian;
    src: url("../fonts/Arian/Arian\ Light.ttf");
}

@font-face {
    font-family: Futura;
    src: url("../fonts/Futura/futura\ light\ bt.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Futura;
    src: url("../fonts/Futura/Futura\ Book\ font.ttf");
    font-weight: 500;
}

@font-face{
    font-family: Futura;
    src: url("../fonts/Futura/futura\ medium\ bt.ttf");
    font-weight: 600;
}
